{{input value=valueA}}

<br>

<button {{action 'storeMe' 'valueA' valueA}}>^^^ STORE THIS ^^^</button>

<br><br><br>

<h4>Tell me what was stored!</h4>
<ul>
  <li>valueA: {{valueA}}</li>
  <li>valueAStored: {{valueAStored}}</li>
</ul>
